.container {
  max-width: 1440px;
  height: 100%;
  background-color: var(--bg-light);
  margin: 0 auto;
  .navbar {
    height: 100px;
    position: sticky;
    top: 0;
    margin-bottom: 50px;
  }
}
